@import '../../../styles/settings.scss';

.component {
  padding: $base-size;
  margin-top: 40px;
}
.title {
  //margin-left: 100px;
}
.accordionDetails {
  display: flex;
  justify-content: space-between;
}
